<div class="menu_dropdown">
    <div class="menu_dropdown-item">
        <a href="#" class="menu_dropdown-link dropdown">
             Свадебная бижутерия
            <span class="caret"></span>
        </a>
        //= dropdown0_1.html
    </div>
    <div class="menu_dropdown-item">
        <a href="#" class="menu_dropdown-link">
            Аксессуары для волос
        </a>
    </div>
    <div class="menu_dropdown-item">
        <a href="#" class="menu_dropdown-link">
            Броши
        </a>
    </div>
    <div class="menu_dropdown-item">
        <a href="#" class="menu_dropdown-link dropdown">
            Мужские аксессуары
            <span class="caret"></span>
        </a>
            //= dropdown0_2.html
    </div>
    <div class="menu_dropdown-item">
        <a href="#" class="menu_dropdown-link">
            Клатчи
        </a>
    </div>
    <div class="menu_dropdown-item">
        <a href="#" class="menu_dropdown-link">
            Детская бижутерия
        </a>
    </div>
    <div class="menu_dropdown-item">
        <a href="#" class="menu_dropdown-link">
            Демонстрационное оборудование
        </a>
    </div>
</div>
