<div class="header-wrapper">
    <div class="top-navigation">
        <div class="top-navigation_logo">
            <a href="#"><img src="img/logo.png" alt="logo">
                <div>Интернет магазин "Благой арт"</div>
            </a>
        </div>
        <div class="top-navigation_search">
            <form action="" method="post" class="search">
                <input type="search" name="" placeholder="Введите название или артикул" class="input" />
            </form>
        </div>
        <div class="top-navigation_contact">
            <div class="number">
                <a href="tel:+78007078139" class="phone">+7 (800) 707-8139</a>
                <div class="number_works">
                    <div class="hour">ПН-ПТ с 9:00 до 18:00</div>
                    <div class="info">Доставка по РФ и СНГ</div>
                </div>
            </div>
        </div>
    </div>
    <div class="profile">
        <div class="purchase">
            <div class="purchase_bag">
                <span class="badge">10</span>
            </div>
            <div class="purchase_price"> Товаров /<span class="cost"> 56 789 Р </span> </div>
        </div>
        <div class="exit">
            <div class="exit_user">
            </div>
            <div class="exit_comand">
                <a href="#"> Войти </a>
            </div>
        </div>
    </div>
</div>
